body {
	margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkgray;
    color:#181818;
}
#header {
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	left: none;
	background-color: gray;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}
#header nav {
	margin-left: 6rem;
}
#header-img {
	width: 68px;
	height: 61px;
	margin-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
#nav-bar {
	position: absolute;
	width: 100%;
}
#nav-bar .child {
	padding: 1%;
}
#main {
	padding-top: 5.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
#video {
	height: 300px;
	width: 600px;
    margin-left: 20rem;
}
@media only screen and (max-width: 500px) {
    #video {
        height: 100px;
        width: 300px;
        margin-left: 20rem;
    }
}